/*Archivos parciales importados*/
@use 'variables';

.botones-principales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    padding-top: 10%;
    
    @media only screen and (max-width : 900px) {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-top: 20%;
    }

    .boton {
        padding: 20px;
        box-sizing: border-box;
        border-color: variables.$color-light;
        border-radius: 15px;
        border-style: solid;
        background-color: variables.$color-primary;
        font-size: 2em;
        color: variables.$color-light;
        cursor: pointer;
        
        &:hover {
            background-color: variables.$color-hover;
            transform: scale(1.1);
            color: variables.$color-primary;
        }
    }
}
