/* Archivos parciales importados */
@use './variables';

/* Mixins */
@mixin button-styles($bg-color, $text-color, $border-color, $font-family, $padding: 20px, $font-size: 2em) {
    padding: $padding;
    box-sizing: border-box;
    border-color: $border-color;
    border-radius: 15px;
    border-style: solid;
    background-color: $bg-color;
    font-size: $font-size;
    font-family: $font-family;
    color: $text-color;
    cursor: pointer;

    &:hover {
        background-color: variables.$color-hover;
        transform: scale(1.1);
        color: $bg-color;
    }
}

@mixin responsive-button($font-size, $padding) {
    font-size: $font-size;
    padding: $padding;
}

/* Estilos generales */
.botones-principales {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    text-decoration: none;
    padding-top: 10%;
    font-family: variables.$font-secondary;
}

/* Botones */
#boton-1 {
    @include button-styles(variables.$color-primary, variables.$color-secondary, variables.$color-secondary, variables.$font-secondary, 20px 105px);
}

#boton-2 {
    @include button-styles(variables.$color-primary, variables.$color-secondary, variables.$color-secondary, variables.$font-secondary);
}

#boton-3 {
    @include button-styles(variables.$color-primary, variables.$color-secondary, variables.$color-primary, variables.$font-secondary);
    margin-top: 20px;
}

#boton-4 {
    @include button-styles(variables.$color-secondary, variables.$color-primary, variables.$color-primary, variables.$font-tertiary, 10px, 20px);
}

/* Botón secundario */
.boton-secundario {
    all: inherit;
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-family: variables.$font-primary;
    padding-top: 3%;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
    .botones-principales {
        grid-template-columns: 1fr;
        gap: 10px;
        padding-top: 20%;
    }

    #boton-1 {
        @include responsive-button(1.5em, 20px 80px);
    }

    #boton-2 {
        @include responsive-button(1.5em, 20px);
    }
}


