/*Archivos parciales importados*/
@use './variables';


/*Sección Qué y para qué*/

.preguntas {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-g {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-style: solid;
    border-color: variables.$color-primary;
    margin: 1px;
    border-radius: 15px;
    border-width: 2px;
    width: 400px;
    margin-top: 15px;
    background-color: none;
    
    .card-1{
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: justify;
        color: variables.$color-primary;
    }

    .card-2{
        flex-grow: 1;
    }
}

.card-2 ul {
    text-align: justify;
    margin: 5px;
    list-style: circle;
    line-height: 20px;
}

.ver-mas {
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 3%;
    border-style: solid;
    border-color: variables.$color-primary;
    border-radius: 15%;
    text-align: center;
    width: 50%;
    align-self: center;
    color: variables.$color-primary;

    &:hover {
        background-color: variables.$color-hover;
        transform: scale(1.1);
        color: variables.$color-secondary;
    }
}

/*Clientes*/

.clientes {
    border-color: variables.$color-primary;
    border-radius: 5px;
    border-style: solid;
    margin: 0 10%;
    padding: 3%;
    padding-top: 1%;
    height: 500px;
}

.custom-card {
    background-color: variables.$color-hover;
    color: variables.$color-primary;
    margin-top: 10%;
    border-color: variables.$color-primary;
}

.card {
    display: flex;
    flex-direction: column;
    height: 90px;
}

.card-body {
    flex-grow: 1;
}

.custom-img {
    height: 150px;
    object-fit: cover;
    
}

@media (max-width: 900px) {
    .carousel-item {
        display: flex;
        justify-content: center;
    }

    .carousel-item .col-12 {
        width: 100%;
    }
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23183D55' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23183D55' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E"); /* Compatibilidad para WebKit */
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: variables.$color-primary;
    width: 30px;
    height: 30px;

}

.carousel-control-next-icon {
    transform: rotate(180deg);
}