
/*Tipografias*/
$font-primary: 'Maven Pro', sans-serif ;
$font-secondary: "Anton", sans-serif;
$font-tertiary: "Urbanist", sans-serif;

/*Colores*/
$color-primary: #183d55;
$color-secondary: #e7e7e7;
$color-bg-primary: #e7e7e7;
$color-bg-secondary: #183d55;
$border-color: #e7e7e7;
$color-hover: #6d8ba0;